#reimbursement-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 1200px;
}

th {
  border: thin solid blanchedalmond;
  padding: 10px;
}

button {
  background-color: blanchedalmond;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

input {
  text-align: center;
}
aside {
  display: flex;
  flex-flow: column;
  width: 200px;
  height: 400px;
  align-content: center;
  text-align: center;
}

#aside {
  align-content: flex-start;
}
