<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page 😀</title>
  <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>

  <container id="login-container">
    <div id = 'login-information'>
      <h2>
        Please Log in!
      </h2>
      <form>
        <input type="text" name = "username" placeholder="Username" value="" class="login"/>
        <br/>
        <input type="password" name="password" placeholder="Password" value="" class="login"/>
        <br/>
        <input type="button" name="login-button" value="Login" class="login" onclick="userLogin(this.form)">
      </form>
      </div>
  </container>
 
    <script src="login.js"></script>
    

</body>
</html>



