<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage 🏡</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <container id="header-container">
      <h1>Employee Reimbursement App</h1>
      <br />

      <header>
        <div id="header">
          <a href="Login/login.html">Login</a>
          <a href="Reimbursements/reimbursements.html">Reimbursements</a>
        </div>
      </header>
      <img src="img\card.svg" alt="" height="140px" id="middle" />
      <img src="img\visa.png" height="140px" id="bottom-border" />
    </container>
  </body>
</html>
